body {
    background-image: url("personal_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  ul {
    list-style: none;
  }
  
  #sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    transition: left 0.3s ease;
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  #sidebar li {
    margin-bottom: 50px; /* Adjust spacing between list items */
    margin-left: 20px;
  }
  
  #sidebar a {
    display: block;
    padding: 10px; /* Adjust padding around the link */
    text-decoration: none;
    color: white; /* or your desired color */
    background-color: transparent; /* Set initial background color as transparent */
    transition: background-color 0.3s ease; /* Smooth transition effect on hover */
    font-size: 26px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
  }
  
  #sidebar a:hover {
    background-color: #444; /* Background color when hovering */
    color: lightblue; /* Change link color on hover */
  }
  
  #sidebar.collapsed {
    left: 0;
  }
  
  #content {
    background-color: rgba(0, 0, 0, 0.7);
    flex: 1;
    padding: 40px;
    text-align: left;
    margin-bottom: 0px; /* Adjust this value to leave space for the footer */
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }
  
  .image-container {
    text-align: center;
    margin: 10px 0;
  }
  
  .image-container img.pictures {
    width: 500px;
    border-radius: 0;
    height: auto;
    display: inline-block;
  }

  .image-container img.larger-image {
    width: 800px;
  }

  #content.expanded {
    margin-left: 250px;
  }
  
  
  footer {
    display: inline;
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: left;
    position: fixed; 
    bottom: 0; 
    right: 0; 
    left: 0px; 
    transition: left 0.3s ease;
    z-index: 1;
  }
  
  footer li {
    display: inline-block;
  }
  
  footer.expanded {
    left: 250px;
  }
  
  #toggleButton {
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
    font-size: 40px;
    transition: left 0.3s ease;
  }
  
  #toggleButton.collapsed {
    left: 260px;
  }
  #toggleButton:hover {
    color: lightblue; 
  }
  
  h1 {
    font-size: 56px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-family: "Arial Black", sans-serif;
  }
  
  h2 {
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 75px;
    margin-right: 50px;
    color: lightblue;
  }
  
  h3 {
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 50px;
    color: lightblue;
  }
  
  p {
    margin-top: 30px;
    text-align: justify;
    line-height: 2;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
    text-indent: 20px;
    font-size: 18px;
  }
  
  .btn-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; /* Adjust font size */
  }
  
  .btn-link:hover {
    background-color: #444; /* Background color when hovering */
    color: lightblue; /* Change link color on hover */
    font-weight: normal;
  }
  
  .reference-link {
    color: #007bff;
    text-decoration: none;
  }


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: auto;
  padding: 20px;
  width: 90%;
  height: 80%;
}


.close {
  color: white;
  float: right;
  font-size: 56px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: lightblue;
  text-decoration: none;
}

.centered-button {
  text-align: center;
}

.btn-generic {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
}

.btn-generic:hover {
  background-color: #444; /* Background color when hovering */
  color: lightblue; /* Change link color on hover */
  font-weight: normal;
}

#points {
  margin-bottom: 100px;
}

#points ul li {
  text-align: justify;
  line-height: 2;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

#points ul ul li {
  margin-bottom: 20px;
}


