body {
  background-image: url("personal_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
}

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  transition: left 0.3s ease;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 50px; /* Adjust spacing between list items */
  margin-left: 20px;
}

#sidebar a {
  display: block;
  padding: 10px; /* Adjust padding around the link */
  text-decoration: none;
  color: white; /* or your desired color */
  background-color: transparent; /* Set initial background color as transparent */
  transition: background-color 0.3s ease; /* Smooth transition effect on hover */
  font-size: 26px; /* Adjust font size */
  font-weight: bold; /* Make the text bold */
}

#sidebar a:hover {
  background-color: #444; /* Background color when hovering */
  color: lightblue; /* Change link color on hover */
}

#sidebar.collapsed {
  left: 0;
}

#content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

#content.expanded {
  margin-left: 250px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
  position: fixed; 
  bottom: 0; 
  right: 0; 
  left: 0px; 
  transition: left 0.3s ease;
}

footer.expanded {
  left: 250px;
}

#toggleButton {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 32px;
  transition: left 0.3s ease;
}

#toggleButton.collapsed {
  left: 260px;
}

#content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  text-align: left;
}

#content img {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}

h1 {
  font-size: 56px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-family: "Arial Black", sans-serif;
}

h2 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 75px;
  margin-right: 50px;
}

#content ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#content ul li {
  margin-bottom: 10px;
  line-height: 1.5;
  margin-left: 125px;
}

#content ul li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h3 {
  margin-top: 50px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 50px;
}

p {
  margin-top: 30px;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 20px;
  text-indent: 20px;
}

.btn-link {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px; /* Adjust font size */
}

.btn-link:hover {
  background-color: #444; /* Background color when hovering */
  color: lightblue; /* Change link color on hover */
  font-weight: normal;
}