<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Changwen Gong</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <h1>Changwen Gong</h1>
  </header>

  <div id="sidebar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/ku_lion_dance">KU Lion Dance</a></li>
      <li><a href="/crypto_trade">Crypto Trade</a></li>
      <li><a href="/tradebots">Trade Bots</a></li>
    </ul>
  </div>
  

  <div id="content">
    <img src="static/photo.jpg" alt="photo">
    <div id="toggleButton">&#9776;</div>
    <h2>Welcome to my website!</h2>
    <p>
      This is where I'll be uploading my projects and other things I'm working on. However, all the codes can be found on my Github which is linked below. On the left you will find a list of projects I've done. Feel free to check them out! If you have any questions, please feel free to contact me through my email or LinkedIn below.
    </p>

    <h2>Thank you for visiting!</h2>
    <p>

      
    </p>
 
  </div>

  <footer>
    <ul>
      <li><a href="mailto:changwen919@gmail.com" class="btn-link">My Email</a></li>
      <li><a href="https://github.com/Chuck919" target="_blank" class="btn-link">My Github</a></li>
      <li><a href="https://www.linkedin.com/in/changwen-gong" target="_blank" class="btn-link">My LinkedIn</a></li>
    </ul>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
