<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Changwen Gong</title>
  <link rel="stylesheet" href="static/lion.css">
</head>
<body>
  <header>
    <h1>KU Lion dance</h1>
  </header>

  <div id="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/ku_lion_dance">KU Lion Dance</a></li>
        <li><a href="/crypto_trade">Crypto Trade</a></li>
        <li><a href="/tradebots">Trade Bots</a></li>
    </ul>
  </div>

  <div id="logo-container">
    <img src="static/lion%20dance%20photos/logo.png" alt="Logo" class="logo">
  </div>

  <div class="centered-button">
    <a href="https://www.youtube.com/@kuliondance4241" class="btn-generic">
      Our Youtube
    </a>
  </div>

    <div id="content">

        <div id="text-left">
            <h2>About Lion Dance</h2>
            <p>Lion Dance is a traditional Chinese cultural performance often performed during Chinese New Year celebrations, other cultural holidays, and important events.  
            The lion dance symbolizes good luck, prosperity, 
            and warding off evil spirits.
            </p>
            
            <h2>KU Lion Dance</h2>
            <p>
              As President of KU Lion Dance, our focus is to bring cultural awareness and appreciation to the University of Kansas and the Kansas community. We perform every year at the multiple different KU events as well as cultural events outside of KU. We have performed at weddings, Nelson Atkins Museum, local high schools, and many more. 
            </p>

            <h2>About Us</h2>
            <p>
              We are a group of passionate and commited individuals trying to display our culture to the world. We hold practice twice a week, and focus our time on learning new tricks and creating new routines. As a growing club, we would love your support in helping us reach our goals! If you are interested in booking us for an event or have any questions, please feel free to contact us below!
            </p>

            <div class="ran-button">
              <a href="mailto:ku.lion.dance@gmail.com" class="btn-generic">
                Email Us
              </a></div>
        </div>

        <div id="photo-wrap">
            <div class="photo-item">
                <img src="static/lion%20dance%20photos/lion1.jpg" alt="Lion Dance 1">
                <div class="photo-caption">KU Mid Autumn Fest 2022</div>
            </div>

            <div class="photo-item">
                <img src="static/lion%20dance%20photos/lion2.jpg" alt="Lion Dance 2">
                <div class="photo-caption">Nelson Atkins Lunar New Year Festival 2023</div>
            </div>

            <div class="photo-item">
                <img src="static/lion%20dance%20photos/lion3.jpg" alt="Lion Dance 3">
                <div class="photo-caption">Our Team</div>
            </div>

            <div class="photo-item">
                <img src="static/lion%20dance%20photos/lion4.jpg" alt="Lion Dance 4">
                <div class="photo-caption">KU Cultural Festival 2023</div>
            </div>
        </div>

    </div>

    <div id="toggleButton">&#9776;</div>

    <footer>
      <ul>
        <li><a href="mailto:changwen919@gmail.com" class="btn-link">My Email</a></li>
        <li><a href="https://github.com/Chuck919" target="_blank" class="btn-link">My Github</a></li>
        <li><a href="https://www.linkedin.com/in/changwen-gong" target="_blank" class="btn-link">My LinkedIn</a></li>
      </ul>
    </footer>
  
    <script src="static/script.js"></script>
  </body>
  </html>
